body, html {
height: 100%; 
}

.parallax {
  /* Parallax-image */
  background-image: url("parallax.jpg");

  /* Dimensions */
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.title {
  font-size: 50px;
  font-family: sans-serif;
  padding-left: 750px;
  padding-top: 100px;
  color: white;
}

.banner {
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.directarrow {
  text-align: center;
  font-size: 50px;
  color: white;
}

ayyyyyyyyyye, sweet momma rock me stone me pebble me igneous me  \
WELCOME TO THE CUM BUCKET

  height: 100%;
  background-image: url("background.giff");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;