.body, html {
height: 100%; 
}

/* index0 parallax */

.parallax {
  /* Parallax-image */
  background-image: url("images/parallax.jpg");

  /* Dimensions */
  min-height: 1920px;
  min-width: 1080px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1299px) {
  .parallax {
    background-attachment: scroll;
  }
}

/* Facts parallax */

.parallax1 {
  /* Parallax-image */
  background-image: url("images/parallax1.jpeg");

  /* Dimensions */
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1299px) {
  .parallax1 {
    background-attachment: scroll;
  }
}

/* Quiz parallax */

.parallax2 {
  /* Parallax-image */
  background-image: url("images/parallax2.jpg");

  /* Dimensions */
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1299px) {
  .parallax2 {
    background-attachment: scroll;
  }
}

/* index3 parallax */

 .parallax3 {
  /* Parallax-image */
  background-image: url("images/parallax3.png");

  /* Dimensions */
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1299px) {
  .parallax3 {
    background-attachment: scroll;
  }
}

.title {
  font-size: 50px;
  font-family: sans-serif;
  padding-left: 750px;
  padding-top: 100px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

.banner {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.directarrow {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.h1 {
  text-align: center;
  color:white;
  text-shadow: 3px 3px 5px black;
}

.hr {
  border-top: 2px solid white;
}

.infopara {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 20px;
  font-family: "Arial narrow", sans-serif;
  letter-spacing: 1px;
}

.timemark1 {
  text-align: left;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 10px;
  font-family: "Arial narrow", sans-serif;
  letter-spacing: 1px;
}

.timemark2 {
  text-align: left;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 10px;
  font-family: "Arial narrow", sans-serif;
  letter-spacing: 1px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #435861;
  overflow: hidden;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  text-shadow: 2px 2px 3px black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #87cefa;
  color: black;
  text-shadow: none;
  box-shadow: 1px 1px 2px #87cefa;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #203354; 
  color: white;
  text-shadow: 2px 2px 3px black;
  box-shadow: none;
}

/* Sticky header code */

.top-container {
  background-color: #262526;
  padding: 30px;
  text-align: center;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background-color: #262526;
  color: white;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}