.body, html {
height: 100%; 
}

.parallax {
  /* Parallax-image */
  background-image: url("parallax.jpg");

  /* Dimensions */
  min-height: 1080px;
  min-width: 1920px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.title {
  font-size: 50px;
  font-family: sans-serif;
  padding-left: 750px;
  padding-top: 100px;
  color: white;
  text-align: center;
  text-shadow: 3px 3px 5px black;
}

.banner {
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.directarrow {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 5px black;
}

.h1 {
  text-align: center;
  color:white;
  text-shadow: 3px 3px 5px black;
}

.hr {
  border-top: 2px solid white;
}

.infopara {
  text-align: center;
  color: white;
  text-shadow: 3px 3px 5px black;
  font-size: 20px;
  font-family: "Arial narrow", sans-serif;
  letter-spacing: 1px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #435861;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  text-shadow: 2px 2px 3px black;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #87cefa;
  color: black;
  text-shadow: none;
  box-shadow: 1px 1px 2px #87cefa;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #203354; 
  color: white;
  text-shadow: 2px 2px 3px black;
  box-shadow: none;
}

